html,body {
	margin: auto;
	font-family: Roboto Light, sans-serif;
	background-color: #F5F5F5;
}

.header{
	position: fixed;
	width: 100%;
	background-color: #FFFFFF;
	padding: 0px 50px 0px 0px;
	display: inline;
	-webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.4);
	z-index: 1000;
}

#henrylim{
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.1em;
}
#henrylim:hover{
	color: #01579B;
}

#headerlist li{
	padding-top: 5px;
	padding-left: 20px;
	display: inline;    
}

#headerlist li a{
	text-decoration: none;
	color: black;
}

#introbg{
	height:60px;
	padding-top: 20px;
}

#Summary{
	font-size: 2em;
	font-family: Roboto Light;
	text-align: center; 
	padding: 20px 0px 60px 0px;
	background-color: #EEEEEE;
	border-bottom: 2px solid #E0E0E0;
}

.intro{
	text-align: center;
}

#Info{
	font-size: 2em;
	font-family: Roboto Light;
	text-align: center; 
	padding: 20px 0px 60px 0px;
	background-color: #F5F5F5;
	border-bottom: 2px solid #E0E0E0;
}

#appdetail{
	font-size: 0.6em;
	margin: 0px 80px 0px 80px;
	color: #424242;
}

#forkedgithub{
	text-decoration: none;
	color: #616161;
}

#Screenshot{
	font-size: 2em;
	font-family: Roboto Light;
	text-align: center; 
	padding: 20px 0px 60px 0px;
	background-color: #EEEEEE;
	border-bottom: 2px solid #E0E0E0;
}

#Release{
	font-size: 2em;
	font-family: Roboto Light;
	text-align: center; 
	padding: 20px 0px 60px 0px;
	background-color: #F5F5F5;
	border-bottom: 2px solid #E0E0E0;
}

li{
	padding-bottom: 5px;
}

#Download{
	font-size: 2em;
	font-family: Roboto Light;
	text-align: center; 
	padding: 20px 0px 60px 0px;
	background-color: #EEEEEE;
	border-bottom: 2px solid #E0E0E0;
}

#footer{
	background-color: #FAFAFA;
	font-size: 0.8em;
	color: #424242;
	padding: 20px 20px 10px 20px;
	vertical-align: baseline;
}

#img:hover{
	  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);
}

/*Polymer Start*/

:host {
	position: relative;
	width: 50%;
	height: 50%;
	box-sizing: border-box;
}

#paper_button {
	position: relative;
	text-align: center;
	font-size: 0.7em;
	padding-left:5px;
	padding-right:5px;
	border-radius: 5px;
	background-color: #2196F3;
	color: white;
	text-decoration: none;
}

#paper_button:hover{
	background-color: #1976D2;
}

#paper_button2 {
	position: relative;
	text-align: center;
	font-size: 1em;
	padding-left:5px;
	padding-right:5px;
	border-radius: 5px;
	background-color: #2196F3;
	color: white;
	text-decoration: none;
}

#paper_button2:hover{
	background-color: #1976D2;
}
/*End of Polymer*/