html,body{
	text-align: center;
	font-family: 'Roboto', serif;
	background-color: #ECEFF1;
	margin:0;
	padding:0;
	height:98%;
	max-height: 99%;
	overflow: hidden;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#wrapper {
	min-height:97%;
	max-height: 98%;
	position:relative;
	margin:0px;
}

#footer {
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	margin: 0px;
	line-height: 0;
}

#header{
	text-align: left;
	width: 100%;
	height: 55px;
  	line-height: 55px;
  	padding-left: 50px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.4);
	z-index: 1000;
	font-weight: 500;
}

h1{
	font-size: 3em;
	font-weight: 900;
	color: #212121;
	line-height: 0;
}

h2{
	font-weight: 500;
	color: #424242;
}

p{
	font-weight: 300;
	color: #616161;
	font-size: 0.8em;
}

a{
	text-decoration: none;
	color: #455A64;
}
